@{
    ViewData["Title"] = "Client Dashboard";
}

<div class="container mt-4">
    <h1 class="text-success">Client Dashboard</h1>
    <p>Добре дошъл, @User.Identity?.Name</p>
    <p>Роля: Client</p>
    <p>Тук нормалният потребител ще вижда само своите поръчки и заявки.</p>
</div>