@model LogisticManagementApp.Models.Auth.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        <div class="card shadow-sm border-0">
            <div class="card-body p-4">
                <h2 class="mb-3 text-center text-success">LogisticApp Login</h2>
                <p class="text-muted text-center mb-4">Влез в системата</p>
<form asp-action="Login" method="post">
                    @Html.AntiForgeryToken()
                    <input asp-for="ReturnUrl" type="hidden" />


                    <div class="mb-3">
                        <label asp-for="UsernameOrEmail" class="form-label"></label>
                        <input asp-for="UsernameOrEmail" class="form-control" />
                        <span asp-validation-for="UsernameOrEmail" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Password" class="form-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="form-check mb-3">
                        <input asp-for="RememberMe" class="form-check-input" />
                        <span asp-validation-for="RememberMe" class="text-danger"></span>
                        <label asp-for="RememberMe" class="form-check-label"></label>
                    </div>

                    <button type="submit" class="btn btn-success w-100">Login</button>
                    
                    <div class="mt-4 text-center">
                        <span class="text-muted">Нямаш акаунт?</span>
                        <a asp-controller="Auth" asp-action="Register" class="ms-2">Register</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}